<!-- build:css(.tmp) styles/main.css -->
<link rel="stylesheet" href="styles/main.css">
<!-- endbuild -->
<div id="end-status" ng-controller="EndCtrl">
  <span class="end" ng-style="winStyle">{{ win }}</span>
  <div class="info-end" ng-show="winT">
    <p>Number of step made it:  {{ nbSteps }}<p/>
    <p>Minimum number of step:  {{ minSteps }}<p/>
  </div> <!--<div ng-show="winT">-->
  <div ng-show= "tryAgain">
    <a class="myButton2" ng-href="#/play" >Play again?</a> <!-- #/play use ng-click or another to update the page without save previews data -->
  </div><!--<div ng-show= "tryAgain">-->
  <div ng-show= "showStory">
    <a class="myButton2" ng-href="#/show/{{storyPath}}">Show this story</a> <!-- change to use by default the story used in 'play' and data(chemin) created.-->
  </div> <!--<div ng-show= "showStory">-->
</div><!--<div id="end-status">-->
