<div class="multiple_choice" ng-controller='MCCtrl'>


      <form ng-submit="goToStep(selectedAnswer)">
        <div ng-repeat="outcome in currentStep.outcomes" ng-show="optionsRadio">
          <label>
          <input required type="radio" name="osef" ng-model="$parent.selectedAnswer" value="{{ outcome.nextStep }}"/>
          {{ outcome.text }}</label>


        </div>
        <input class="myButton" value="Next" type="submit"/>
      </form>

  </div><!-- div ng-show="optionsRadio" > -->
</div>
