<!-- build:css(.tmp) styles/main.css -->
<link rel="stylesheet" href="styles/main.css">
<!-- endbuild -->
  <div class="jumbotron">
    <h1>Browser Chronicles</h1>
    <h2>A browser-based gamebook platform</h2>
    <p class="lead">
      <img src="images/books.jpg" height="400" width="600"><br> <!-- resize the image when adapt size of the page -->
      Create your own stories.
    </p>

    <p class="about">"A gamebook is a fiction book, where the reader can influence 1 the the story by
  making choices.</p>
    <p class="about">Usually, after a section of text, different possible actions are presented. Each of
  them is associated to a number, pointing to the text section corresponding to
  the player’s action (i.e. talk with the frog ─ go to page 1234 ).
  Eventually, the story arrives to an end, and depending on his choices, the player
  wins or loses."</p>


    <p><a class="btn btn-lg btn-app" ng-href="#/main"> Start  <span class="glyphicon glyphicon-road"></span></a></p>

  </div><!--<div class="jumbotron">-->
