<!-- build:css(.tmp) styles/main.css -->
<link rel="stylesheet" href="styles/main.css">
<!-- endbuild -->
<div class = "jumbotron">
  <p>In case of trouble send a message to:</p>
  <ul >
    <li><a ng-href="https://github.com/dvasilyev">Dalie Basil</a></li>
    <li><a ng-href="https://github.com/hekow">Jacquot Flavian</a></li>
    <li><a ng-href="https://github.com/raquel-oliveira">Lopes de Oliveira Raquel</a></li>
    <li><a ng-href="https://github.com/Percee">Merino Mathieu</a></li>
  </ul>
</div><!-- <div class = "jumbotron"> -->
