<div class="jumbotron">
  <h1>Browser Chronicles</h1>
  <div ng-controller="SetStory">
    <div class="choose-story">
        <p>Choose a story: </p>
        <select ng-model="selected" ng-change="changeStory()" ng-options="story as story.label for story in stories track by story.file"></select>
      <h2>
          <a ng-href="#/play/{{storyPath}}" class="myButton2">
              Play
          </a>
          <a ng-href="#/show/{{storyPath}}" class="myButton2">
              Show
          </a>
      </h2>
    </div>
  </div>
</div>
