<div class="jumbotron">
  <h1>Browser Chronicles</h1>
  <h2>A browser-based gamebook platform</h2>
  <p class="lead">
    <img src="images/books.jpg" height="400" width="600"><br>
    Write your own stories.
  </p>
  <p><a class="btn btn-lg btn-success" ng-href="#/">How to play? <span class="glyphicon glyphicon-eye-open"></span></a></p>
  <p><a class="btn btn-lg btn-success" ng-href="#/play"> Start <span class="glyphicon glyphicon-play"></span></a></p>
  <p><a class="btn btn-lg btn-success" ng-href="#/play"> Show <span class="glyphicon glyphicon-folder-open"></span></a></p>

</div>
