<div class="jumbotron">
  <h1>Browser Chronicles</h1>
  <h2>A browser-based gamebook platform</h2>
  <p class="lead">
    <img src="images/books.jpg" height="400" width="600"><br> <!-- resize the image when adapt size of the page -->
    Create your own stories.
  </p>

  <p><a class="btn btn-lg btn-app" ng-href="#/play"> Start  <span class="glyphicon glyphicon-road"></span></a></p>
  <p><a class="btn btn-lg btn-app" ng-href="#/edit"> Edit <span class="glyphicon glyphicon-pencil"></span></a></p>

</div>
