<!-- build:css(.tmp) styles/main.css -->
<link rel="stylesheet" href="styles/main.css">
<!-- endbuild -->

<div class="play">
  <div class = "choose-story" ng-show="choose">
    <h2>Choose a story: </h2>
    <select ng-change="changeStory()" ng-options="story as story._label for story in stories track by story._file" ng-model="selected"></select>
  <!--<h2><a class="btn btn-lg" ng-href="#/story"> Start story: {{ title }}  <span class="glyphicon glyphicon-play"></span></a></h2>-->
  <!--<h2><a id="start_story" class="btn btn-lg" onclick="showStory();"> Start story: {{ title }}  <span class="glyphicon glyphicon-play"></span></a></h2>-->
  <h2><a ng-click="startStory()" class="btn btn-lg"> Start story: {{ title }}  <span class="glyphicon glyphicon-play"></span></a></h2>
  </div>

  <div class="story-play" ng-show="play">
    <h1>{{title}}</h2>
      <div id="description">
        {{ description }}
      </div>
      <div id="end-status" ng-show="endStatusDisplayed">
        Number of step:  {{ nbSteps }}<br/>
        Minimum number of step : [not implemented];
      </div>
      <span ng-repeat="c in choices">
        <button ng-click="goToStep(c)">
          {{ c._label }}
        </button>
      </span>
</div>
</div>
