<!-- build:css(.tmp) styles/main.css -->
<link rel="stylesheet" href="styles/main.css">
<!-- endbuild -->
<div class="title"><h1>{{storyName}}</h1></div>
<!--<p><a ng-click="showCaption()""> Caption<span class="glyphicon glyphicon-search"></span></a></p>
<div class="caption">
  <h1> Caption </h1>
<ul>
  <li> All happy ending has the node with color green </li>
  <li> All sad ending has the node with color red </li>
  <li> The shortest path is highlight in green. </li>
  <li> Any story starts in the node 0 </li>
  <li> To more information about a node, click on it. </li>
</ul>
</div>-->
<div class="show">
  <div id="network-story" ng-style="graphStyle"></div>
  <p class="error" ng-hide="hasShortestPath" >No path from start to end</p>
</div>
  <div ng-show="showDatas">
    <h2>Step datas</h2>
    <div><b>Step id</b> : {{ step.id }}</div>
    <div><b>Type</b> : {{ step.type }}</div>
    <div ng-show="step.title != undefined"><b>Step title</b> : {{ step.title }}</div>
    <div ng-show="step.description != undefined"><b>Step description</b> : {{ step.description }}</div>
    <div ng-show="step.hint != undefined"><b>Hint</b> : {{ step.hint }}</div>
    <ng-include src="url" />
</div>
