<!-- build:css(.tmp) styles/main.css -->
<link rel="stylesheet" href="styles/main.css">
<!-- endbuild -->
<div class="show">
  <h1>{{storyName}}</h1>
  <div id="network-story" ng-style="graphStyle"></div>
  <p class="error" ng-hide="hasShortestPath" >No path from start to end</p>

  <div ng-show="showDatas">
    <h2>Step datas</h2>
    <div><b>Step id</b> : {{ step.id }}</div>
    <div><b>Type</b> : {{ step.type }}</div>
    <div ng-show="step.title != undefined"><b>Step title</b> : {{ step.title }}</div>
    <div ng-show="step.description != undefined"><b>Step description</b> : {{ step.description }}</div>
    <div ng-show="step.hint != undefined"><b>Hint</b> : {{ step.hint }}</div>
    <ng-include src="url" />
  </div>

</div>
